{% extends "base.html" %}

{% block pagetitle %}{% block title %}{{ article.title|striptags }}{% endblock %} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block url %}{{ SITEURL }}/{{ article.url }}{% endblock %}
{% block id %}{{ article.slug }}{% endblock %}

{% block meta %}
{{ meta_og('type', 'article') }}
{{ meta_tc('card', 'summary_large_image') }}
{% if article.image %}
{{ meta_og('image', SITEURL + article.image) }}
{{ meta_tc('image:src', SITEURL + article.image) }}
{% endif %}
{% endblock %}

{% block content %}
<article>
    <header>
        <h2>
        {% if article.link %}
        <a href="{{ article.link }}">{{ article.title }} &rarr;</a>
        {% else %}
        {{ article.title }}
        {% endif %}
        </h2>
        <p><small>{{ article.locale_date }} | <a href="/{{ article.url }}" rel="bookmark" title="Permalink">&infin;</a></small></p>
    </header>
    {{ article.content }}
</article>

<footer>
<p class="nav">
{% if article.next_article %}
Next: <a href="/{{ article.next_article.url}}">{{ article.next_article.title }}</a><br />
{% endif %}
{% if article.prev_article %}
Previous: <a href="/{{ article.prev_article.url}}">{{ article.prev_article.title }}</a><br />
{% endif %}
<a href="/">Index</a>
</p>
</footer>
{% endblock %}
