{% extends "base.html" %}
{% block id %}index{% endblock %}

{% block header %}
<p>{% block description %}Lives in Somerville, Massachusetts. Plays music, rides bikes, takes pictures, writes code. Thinks about personal development, sustainability, and technology.{% endblock %}</p>
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="summary">
    <header>
        <h2><a href="/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h2>
        <p>{% for tag in article.tags %}<span class="tag">#{{tag}}</span> {% endfor %}</p>
        {{ article.summary }}
    </header>
</article>
{% endfor %}
{% endblock content %}
