{% extends "base.html" %}

{% block header %}
<p>I live in Somerville, Massachusetts. I&#8217;m interested in food, personal development, sustainability, and technology. I like to play music, ride bikes, take pictures, and write&nbsp;code. This is my little home on the Web for things I want to share.</p>
{% endblock %}

{% block content %}
{% for article in articles_page.object_list %}
<article class="summary">
    <header>
        <h2><a href="/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h2>
        <p><small>{{ article.locale_date }}</small></p>
        {{ article.summary }}
    </header>
</article>
{% endfor %}
{% endblock content %}
